@model FitEasy8.ViewModels.ChosenBodyPartIndexData

@{
    ViewBag.Title = "ChosenBodyParts";
}


<h2>Body Parts In Plan</h2>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Image</th>
        <th>Description</th>

    </tr>

    @foreach (var item in Model.ChosenBodyParts)
    {
        string selectedRow = "";
        if (item.ChosenBodyPartID == ViewBag.ChosenBodyPartID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                <img src="@item.ImageUrl" height="150" width="150" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ChosenExerciseID })
            </td>

        </tr>



    }

</table>
